<header>
    <h1>Cabeleleila Leila Salão de Beleiza</h1>
    <nav>
        <a href="/">Home</a>
        <form action="/logout" method="post">
            <button>Sair</button>
        </form>
    </nav>
</header>
<main>
    <div id="side-panel">
        <a href="/dashboard">Dashboard</a>
        <a href="/agenda">Agendar atendimento</a>
        <a href="/historico">Histórico</a>
    </div>

    <% if (itens.length !== 0) { %>
        <div id="historico-content">
            <div id="lista-itens">
                <table id="tabela-itens">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data do agendamento</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% itens.forEach(element => { %>
                            <tr>
                                <td><%= element.idAgenda %></td>
                                <td><%= element.data_atendimento %></td>
                                <td><%= element.ativo === 1 ? 'Ativo' : 'Concluído' %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <div id="paginacao">
                <% if (paginaAtual > 1) { %>
                    <a href="/dashboard?pagina=<%= paginaAtual - 1 %>">Anterior</a>
                <% } %>

                <span>Página: <%= paginaAtual %></span>

                <% if (paginaAtual < totalPaginas) { %>
                    <a href="/dashboard?pagina=<%= paginaAtual + 1 %>">Próxima</a>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <h2>Nenhum agendamento encontrado</h2>
    <% } %>
</main>