<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/dashboard.style.css">
    <link rel="stylesheet" href="https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css" />
    <title>Cabeleleila Leila</title>
</head>
<body>
    <header>
        <h1>Cabeleleila Leila Salão de Beleiza</h1>
        <nav>
            <a href="/">Home</a>
            <form action="/logout" method="post">
                <button>Sair</button>
            </form>
        </nav>
    </header>
    <main>
        <div id="side-panel">
            <a href="/dashboard">Dashboard</a>
            <a href="/agenda">Agendar atendimento</a>
            <a href="/historico">Histórico</a>
        </div>

        <div id="main-panel">
            <div id="agenda-content">
                <form id="detalhe-form">
                    <fieldset class="nice-form-group">
                        <legend for="fservico">Serviços</legend>
                        <div class="nice-form-group">
                            <input type="checkbox" id="corte" name="opcoes[]" value="corte" disabled/>
                            <label for="corte">R$<%= cortePreco %>: Corte</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="escova" name="opcoes[]" value="escova" disabled/>
                            <label for="escova">R$<%= escovaPreco %>: Escova</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="unha" name="opcoes[]" value="unha" disabled/>
                            <label for="unha">R$<%= unhaPreco %>: Pé e mão</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="tratamento" name="opcoes[]" value="tratamento" disabled/>
                            <label for="tratamento">R$<%= tratamentoPreco %>: Tratamento capilar</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="alisamento" name="opcoes[]" value="alisamento" disabled/>
                            <label for="alisamento">R$<%= alisamentoPreco %>: Alisamento</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="progressiva" name="opcoes[]" value="progressiva" disabled/>
                            <label for="progressiva">R$<%= progressivaPreco %>: Progressiva</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="mecha" name="opcoes[]" value="mecha" disabled/>
                            <label for="mecha">R$<%= mechaPreco %>: Mechas - Luzes - Reflexos</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="sobrancelha" name="opcoes[]" value="sobrancelha" disabled/>
                            <label for="sobrancelha">R$<%= sobrancelhaPreco %>: Sobrancelha</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="depilacao" name="opcoes[]" value="depilacao" disabled/>
                            <label for="depilacao">R$<%= depilacaoPreco %>: Depilacao</label>
                        </div>
                        <div class="nice-form-group">
                            <input type="checkbox" id="maquiagem" name="opcoes[]" value="maquiagem" disabled/>
                            <label for="maquiagem">R$<%= maquiagemPreco %>: Penteado e maquiagem</label>
                        </div>
                    </fieldset>
            
                    <div class="nice-form-group">
                        <label for="fdata">Data do atendimento</label>
                        <input type="date" id="fdata" name="fdata" disabled />
                    </div>

                    <div class="nice-form-group">
                        <label for="fhora">Horário atendimento</label>
                        <input type="text" id="fhora" name="fhora" disabled />
                    </div>
            
                    <div class="nice-form-group">
                        <label for="fobs">Observações</label>
                        <textarea name="fobs" id="fobs" rows="5" disabled></textarea>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const servicosArray = JSON.parse('<%- JSON.stringify(data) %>')

            document.getElementById('fdata').value = '<%- JSON.stringify(atendData) %>'.replaceAll('"', '')
            document.getElementById('fhora').value = '<%- JSON.stringify(atendHora) %>'.replaceAll('"', '')

            servicosArray.forEach(item => {
                document.getElementById(item.nome_servico).checked = true

                if (item.obs !== null) {
                    document.getElementById('fobs').value = item.obs
                }
            })
        })
    </script>
</body>
</html>
