<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/dashboard.style.css">
    <link rel="stylesheet" href="https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css" />
    <title>Cabeleleila Leila</title>
</head>
<body>
    <header>
        <h1>Cabeleleila Leila Salão de Beleiza</h1>
        <nav>
            <a href="/">Home</a>
            <form action="/logout" method="post">
                <button>Sair</button>
            </form>
        </nav>
    </header>
    <main>
        <div id="side-panel">
            <a href="/dashboard">Dashboard</a>
            <a href="/agenda">Agendar atendimento</a>
            <a href="/historico">Histórico</a>
        </div>

        <div id="main-panel">
            <% if (itens.length !== 0) { %>
                <div id="historico-content">
                    <div id="lista-itens">
                        <table id="tabela-itens">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Data do agendamento</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody id="tabela-body-itens">
                                <% const hoje = new Date(dataHoje) %>
                                <% itens.forEach(element => { %>
                                    <% const [data, hora] = element.data_atendimento.split(' ') %>
                                    <% const [dia, mes, ano] = data.split('/') %>
                                    <% const dataAtend = new Date(`${ano}-${mes.padStart(2, '0')}-${dia.padStart(2, '0')} ${hora}`) %>
                                    <tr>
                                        <td><%= element.idAgenda %></td>
                                        <td><%= element.data_atendimento %></td>
                                        <td><%= element.ativo === 1 ? 'Ativo' : 'Concluído' %></td>
                                        <td>
                                            <a href="/historico-detalhe?dataatendimento=<%=element.data_atendimento%>">Detalhes</a>
                                            <% if (element.ativo === 1 && (((dataAtend - hoje) / (1000 * 60 * 60 * 24)) >= 2) ) { %>
                                                <a href="/historico-editar?dataatendimento=<%=element.data_atendimento%>">Editar</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <div id="paginacao">
                        <% if (paginaAtual > 1) { %>
                            <a href="/historico?pagina=<%= paginaAtual - 1 %>">Anterior</a>
                        <% } %>

                        <span>Página: <%= paginaAtual %></span>

                        <% if (paginaAtual < totalPaginas) { %>
                            <a href="/historico?pagina=<%= paginaAtual + 1 %>">Próxima</a>
                        <% } %>
                    </div>
                </div>
            <% } else { %>
                <h2>Nenhum agendamento encontrado</h2>
            <% } %>
        </div>
    </main>
</body>
</html>
